{% extends 'pswms/SuperAdmin/AdminMaster.html' %}
{% block content %}

<div class="col-md-12" style="margin-top: 50px; margin-left: 240px;">
    <div><h2 style="font-family: Arial, Helvetica, sans-serif;"> <u>Add Bin</u> </h2></div>
    
    </div>
<form action="{% url 'pswms:add_bin' %}" method="POST">
    {% csrf_token %}

    <div class="ward-div"  >

        <table class="tb font-lg" >
            <tr>
                <td></td>
                <td> {% if success_msg %}
                    <p class="alert alert-success alt" id="msg">{{success_msg}}</p>
                    {% endif %}
                    {% if error_msg %}
                    <p class="alert alert-danger alt" id="msg">{{error_msg}}</p>
                    {% endif %}

                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" id="form-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" id="form-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                </td>
</td>
            </tr>
            <tr>
                <td>
                    Select Panchayath
                </td>
                <td>
                    <select name="panchayath" class="form-control">
                        {% for panchayath in panchayath_list %}
                        <option value={{panchayath.pan_id}}>
                                {{panchayath.pan_name|capfirst}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{form.bin_name.label}}</td>
                <td>{{form.bin_name}}</td>
            </tr>

            <tr>
                <td style="text-align: right;"><input type="submit" height="40px" width="60px" class="btn btn-primary" value="Add" /></td>
                
</td>
</tr>
<tr>
<td>
    </td>
    <td>

                   



            

            </tr>
        </table>



    {% csrf_token %}

    {% if bin_list %}
    <strong class="font-lg" style="margin-left: 110px;">    {{pan_name|capfirst}}</strong>
    <br/>
    <br/>
    <table class="table font-lg table-striped bin-list">
           
        <thead>
            <tr>
                <th class="table-info">Sl.No</th>
                <th class="table-info">Panchayath</th>
                <th class="table-info">Bin</th>
                <th class="table-info">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for bin in bin_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
               <td>{{bin.pan_id.pan_name|capfirst}}</td>
                <td>{{bin.bin_name|capfirst}}</td>
                <td><a href="{% url 'pswms:delete_bin' bin.bin_id %}" class="text-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class="nav-p">
        <ul class="pagination">
            <li class="page-item">
                {% if bin_list.has_previous %}
                <a class="page-link" href="?page={{bin_list.previous_page_number}}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
                {% endif %}
            </li>
            {% for p in bin_list.paginator.page_range %}
            <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
            {% endfor %}
            <!-- <li class="page-item "> Page {{p}} of {{panchayath_list.paginator.page}}</li> -->
            <li class="page-item">
                {% if bin_list.has_next %}
                <a class="page-link" href="?page={{bin_list.next_page_number}}"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}

<script>
    $(document).ready(function () {
        var form_err=document.getElementById('form-error')?document.getElementById('form-error').innerHTML:null;
        var msg=document.getElementById('msg')?document.getElementById('msg').innerHTML:null;
        var pan_name=document.getElementById("id_pan_name")
        $("#id_bin_name").focus(function () {

          
            if(msg!=null)
            {
                
                document.getElementById('msg').setAttribute("style", "display:none");
            document.getElementById('msg').innerHTML = "";
        }
        if(form_err!=null)
        {
            document.getElementById('form-error').setAttribute("style", "display:none");
        }
            // if(form_err==null){
            //     document.getElementById('form-error').setAttribute("style", "display:none");
            // }
            document.getElementById('id_bin_name').value = "";
            

        }


        );



    });
</script>
{% endblock %}