{% extends 'pswms/SuperAdmin/AdminMaster.html' %}


{% block content %}
<div class="col-md-12" style="margin-top: 50px; margin-left: 240px;">
    <div><h2 style="font-family: Arial, Helvetica, sans-serif;"> <u>Add Notification</u> </h2></div>
    
    </div>
<form action="{% url 'pswms:add_notification' %}" method="POST">
    {% csrf_token %}

    <div class="not-div ">

        <table class="tb font-lg">
            <tr><td></td><td>
                {% if success_msg %}
                <p class="alert alert-success alt" id="msg">{{success_msg}}</p>
                {% endif %}
                {% if error_msg %}
                <p class="alert alert-danger alt" id="msg">{{error_msg}}</p>
                {% endif %}

                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" id="form-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" id="form-error">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

            </td></tr>
            <tr>
                <td>{{form.notification_title.label}}</td>
                <td>{{form.notification_title}}</td>
            </tr>
            <tr>
                <td>{{form.notification.label}}</td>
                <td>{{form.notification}}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" height="40px" width="60px" class="btn btn-primary" value="Add" />
</td>
</tr>
<tr>
<td>
    </td>
  


            

            </tr>
        </table>

        {% if notification_list %}
        
                <table class="table table-striped font-md" >
                    <thead>
                        <tr>
                            <th class="table-info">Sl.No</th>
                            <th class="table-info">Title</th>
                            <th class="table-info"> Notification</th>
                            <th class="table-info">Date</th>
                            <th class="table-info">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in notification_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ notification.notification_title|capfirst }}</td>
                            <td>{{ notification.notification|capfirst }}</td>
                            <td>{{notification.date}}</td>
                            <td><a href="{% url 'pswms:delete_notfn' notification.n_id %}" style="color: red;">Delete</a></td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" class="nav-p">
                    <ul class="pagination">
                        <li class="page-item">
                            {% if notification_list.has_previous %}
                            <a class="page-link" href="?page=notification_list.previous_page_number"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                            {% endif %}
                        </li>
                        {% for p in notification_list.paginator.page_range %}
                        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endfor %}
                        <!-- <li class="page-item "> Page {{p}} of {{panchayath_list.paginator.page}}</li> -->
                        <li class="page-item">
                            {% if notification_list.has_next %}
                            <a class="page-link" href="?page={{notification_list.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>


           
            {% endif %}

        </div>
</form>












<script>
    $(document).ready(function () {
        var form_err=document.getElementById('form-error')?document.getElementById('form-error').innerHTML:null;
        var msg=document.getElementById('msg')?document.getElementById('msg').innerHTML:null;
        var pan_name=document.getElementById("id_pan_name")
        $("input").focus(function () {

          
            if(msg!=null)
            {
                
                document.getElementById('msg').setAttribute("style", "display:none");
            document.getElementById('msg').innerHTML = "";
        }
        if(form_err!=null)
        {
            document.getElementById('form-error').setAttribute("style", "display:none");
        }
            // if(form_err==null){
            //     document.getElementById('form-error').setAttribute("style", "display:none");
            // }
            // document.getElementById('id_notification').value = "";
            

        }


        );



    });
</script>
{% endblock %}




</body>

</html>