{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Panchayath Solid Waste Management System</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'Users/css/style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'Users/css/coin-slider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/bootstrap/css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'Users/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'Users/js/cufon-titillium-600.js' %}"></script>
<script type="text/javascript" src="{% static 'Users/js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Users/js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'Users/js/coin-slider.min.js' %}"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"> <span>Welcome</span><span> to</span> PSWMS<small></small></a></h1>
      </div>
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action=""> 
          <!-- <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span> -->
          <!-- <input name="button_search" src="{% static 'Users/images/search.gif' %}" class="button_search" type="image" /> -->
        </form>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="{% static 'Users/images/waste1.jpg' %}" width="940" height="310" alt="" /> </a> <a href="#"><img src="{% static 'Users/images/waste1.jpg' %}" width="940" height="310" alt="" /> </a> <a href="#"><img src="{% static 'Users/images/waste1.jpg' %}" width="940" height="310" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <!-- <li class="active"><a href="{% url 'pswms:updateuser_profile' %}"><span>Profile</span></a></li> -->
          
          <!-- <li><a href="support.html"><span>Support</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="blog.html"><span>Blog</span></a></li>
          <li><a href="contact.html"><span>Contact Us</span></a></li> -->
          <!-- <li><a href="contact.html"><span>Contact Us</span></a></li> -->
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
       {% block content %}
       
            {% endblock %}
          </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star" ><span>Manu</span> Joseph</h2>
          <!-- <h8><b>Route:</b>    <span>Vadakkumbad</span></h8> -->
          <div class="clr"></div>
          <ul class="sb_menu">
          <li><a href="{% url 'pswms:driver_home' %}">Home</a></li>
         
          <li><a href="{% url 'pswms:pending_works' %}">Work Details</a></li>
          
          <li><a href="{% url 'pswms:change_driver_passwd' %}">Change Password</a></li>
          <li><a href="{% url 'pswms:completed_works' %}">Completed Work</a></li>
          
          <li><a href="{% url 'pswms:user_logout' %}">Logout</a></li>
          </ul>
        </div>
        
        <div class="gadget">
          
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    
  </div>
  
</div>

</html>
