{% extends 'pswms/Users/UserMaster.html' %}

{% block content %}

<form action="{% url 'pswms:change_user_passwd' %}" method="POST">
    <div style="margin-left:200px; margin-top: 90px;">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class="btn btn-primary"/>
    
</div>

</form>
{% if success_msg %}
<p style="color: green; " id="msg">{{success_msg}}</p>

{% else %}
<p style="color: red;" id="msg">{{error_msg}}</p>
{% endif %}
  

<script>
    $(document).ready(function(){
  $("input").focus(function(){
   
    document.getElementById('msg').innerHTML="";
    
    
   
  }
  
  
  );

 
  
});
</script>

{% endblock %}