{% extends 'pswms/Users/UserMaster.html' %}

{% block content %}

<form action="{% url 'pswms:add_complaint' %}" method="POST">
  
    <div style="margin-left:100px; margin-top: 60px;">{% csrf_token %}
    
    <br>
    <br>
    <table style="border-spacing: 40px;border-collapse:separate">
      <tr><td>Select Recipient
        <select id="recipient"name="recipient">
        <option value="0">Secretary</option>
        <option value="1">member</option>
      </select>
      
      </td></tr>
     
      
      <tr>
        
    
    <td>{{form.complaint}}</td>
  </tr>
  </table>
    <input type="submit" value="Submit" class="btn btn-primary" style="background-color:navy ; color: white;"/>
    
</div>

</form>
{% if success_msg %}
<p style="color: green; " id="msg">{{success_msg}}</p>

{% else %}
<p style="color: red;" id="msg">{{error_msg}}</p>
{% endif %}
  

<script>
    $(document).ready(function(){
  $("input").focus(function(){
   
    document.getElementById('msg').innerHTML="";
    
    
   
  }
  
  
  );

 
  
});
</script>

{% endblock %}