{% extends 'pswms/Users/UserMaster.html' %}


{% block content %}

<div class="col-md-8" style="margin-top: 50px; margin-left: 240px;">
    <div><h2 style="font-family: Arial, Helvetica, sans-serif;"> <u>Payment History</u> </h2></div>
    
    </div>
    
<table class="table-striped table" style="margin-left: 20px;margin-top: 40px; border-spacing: 60px;">
    <tr>
        <td class="table-danger" >
            <b> Sl.no</b>
        </td>
        <td class="table-danger"> 
            <b> Date </b>
        </td>
        <td class="table-danger"></td>
    </tr>
    {% for data in requested_data  %}
    <tr>
<td>{{forloop.counter}}</td>
<td>{{data.date}}</td>
<td><a href="/pswms/UserHome/PaymentHistory?date={{data.date|date:'Y-m-d'}}" style="color:green;">Details </a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
